<a href="{{ path('helloWithName', {'name': 'Mickey'}) }}">Hello Mickey</a>
<a href="{{ path('helloWithName', {'name': 'Ralph'}) }}">Hello Ralph</a>
<a href="{{ path('helloWithName', {'name': 'Leo'}) }}">Hello Leo</a>
<a href="{{ path('helloWithName', {'name': 'Dona'}) }}">Hello Dona</a>